@media(min-width: 992px)
	a
		&:hover
			text-decoration: underline
	.btn
		transition: all .3s ease
		&:hover
			background: #EABF03
			text-decoration: none
		&--gray:hover
			background: #ddd
	.slider-arrow
		&:hover
			color: $yellow
	.logo
		&:hover
			text-decoration: none
	.phone-link
		transition: all .2s ease
		&:hover
			text-decoration: none
			background-color: #FFB200
			color: #fff
			&:before
				color: #fff
	.header
		&__menu
			a
				&:hover
					text-decoration: none
		&__tool
			transition: all .3s ease
			&:hover
				text-decoration: none
			&--hovered:hover
				color: #FFB200
				font-weight: bold
	.main-menu
		a
			transition: all .3s ease
			&:hover
				color: #FEBA1D
				text-decoration: none
	.dropdown-window
		&__link
			&:hover
				text-decoration: none
	.slider-block
		&__arrow
			opacity: 0
			transition: all .3s ease
		&:hover &__arrow
			opacity: 1
	.post-card
		&__title
			a:hover
				text-decoration: none
	.infographics
		&__link
			transition: all .3s ease
			&:hover
				text-decoration: none
				color: #FFB200
	.compilation-block
		&__list
			>li>a
				&:hover
					text-decoration: none
					i
						font-size: 22px
	.social-block
		&__link
			&:hover
				text-decoration: none
	.menu-widget
		a:hover
			text-decoration: none
			color: $orange
	.contacts-block
		&__phone:hover
			text-decoration: none
	.catalog-nav
		&__item
			transition: all .3s ease
			&:hover
				text-decoration: none
				background-color: $orange
				color: #fff
	.product-card
		&__buy-link
			&:hover
				text-decoration: none
				
@media(max-width: 1365px)
	h1,h2
		font-size: 28px
	h3
		font-size: 20px
	.wrapper
		max-width: 992px
	.menu-btn
		display: inline-block
		transition: all .3s ease
		&--active
			color: $orange
	.catalog-btn
		a
			color: inherit
			&:before
				display: none
	.main-menu
		display: block
		margin: 0 auto
		max-width: 962px
		>li
			>a
				padding: 7px 10px 7px 0
				border: none
			&.active
				color: #FFB200
			&.mobile-item
				display: block
	.search-form
		padding: 0
		border-top: 1px solid #ddd
		z-index: 3
		box-shadow: 0 5px 10px rgba(0,0,0,.12)
		&__input
			border-radius: 0
			max-width: 962px
			margin: 0 auto
		&__close-btn
			top: 0
	.header
		&__topline
			padding: 18px 0
			position: static
		&__menu
			display: none
		&__phone
			display: none
		&__logo
			order: -1
			margin-left: 0
		&__bottomline
			position: absolute
			top: 100%
			left: 0
			z-index: 4
			width: 100%
			padding: 15px
			background-color: #f9f9f9
			border-top: 1px solid #ddd
			box-shadow: 0 5px 10px rgba(0,0,0,.15)
			opacity: 0
			pointer-events: none
			transition: all .3s ease
			&--open
				opacity: 1
				pointer-events: auto
		&__search
			top: 100%
			left: 0
			width: 100%
	.catalog-banner
		display: none
	.dropdown-window
		display: none
	.slider-block
		&__slide
			padding: 50px
	.product-card
		&__discount
			display: none
		&__tools
			display: flex
		&__slide
			img
				pointer-events: auto
		&__footer
			display: block
		&--horizontal
			flex: 1 1 auto
		&--horizontal &__discount
			display: flex
		&--horizontal &__tools
			position: static
			margin: 0 0 10px
			padding: 0
	.category-block
		&__label
			display: none
		&__inner
			padding-left: calc(50% - 480px)
			padding-right: 0
	.promo-card
		padding: 30px
		min-height: 280px
	.news-block
		&__box
			justify-content: center
	.infographics
		padding: 35px 0
	.contacts-block
		&__head
			flex-basis: 270px
	.breadcrumbs
		padding: 20px 0
	.catalog
		&__box
			justify-content: center
	.contacts
		&__text
			padding-right: 25px
			flex-basis: 280px
		&__sidebar
			padding-left: 30px
	.footer
		&__topline
			padding: 30px 0
			display: block
		&__main
			display: none
		&__info
			margin: 0	
  
@media(max-width:991px)
	.slider-block
		&__slide
			padding: 30px
	.category-block
		&__inner
			padding-left: 15px
	.catalog-nav
		padding: 10px 0
	.catalog
		&__head
			display: block
		&__title
			margin: 0
		&__sort
			margin-top: 15px
	.sort
		text-align: right
		&__select
			margin-right: 0
		&__btn
			display: none
	.contacts
		&__sidebar
			display: none
		&__body
			display: block
			margin: 0 0 25px
		&__text
			padding: 0
			margin: 0 0 30px
		&__map
			width: 100%
			margin: 0
		&__share-title
			display: none
@media(max-width:767px)
	h1,h2
		font-size: 26px
	h3
		font-size: 18px
	h4
		font-size: 16px
	.logo
		display: inline-block
		&__text
			display: none
		&__img
			width: 100%
	.search-form
		&__input
			padding: 9px 40px 9px 15px
		&__close-btn
			width: 40px
			line-height: 40px
	.main-menu
		>li
			border-bottom: 1px solid rgba(0,0,0,.1)
			&:last-child
				border-bottom: 0
			>a
				padding: 10px 15px
	.header
		&__topline
			padding: 10px 0
		&__logo
			width: 70px
		&__location
			display: none
		&__tools
			margin-left: 15px
		&__tool
			width: 36px
			line-height: 36px
			font-size: 18px
		&__bottomline
			padding: 0
	.slider-block
		padding: 0 0 30px
		&__wrapper
			padding: 0
		&__slider
			.slick-track
				display: block
		&__slide
			padding: 40px 20px
			flex-direction: column
		&__text
			text-align: center
			flex-basis: 100%
			order: 1
		&__img
			max-width: 100%
			max-height: 180px
			margin: 0 auto 15px
	.category-block
		&__head
			margin: 0 0 20px
		&__topline
			display: block
		&__nav
			justify-content: space-between
		&__text
			display: none
		&__title
			text-align: center
			margin: 0
		&__inner
			padding: 0 15px
		&__slider
			max-width: 280px
			margin: 0 auto
			.slick-list
				margin: 0 -10px
		&__dots
			margin-top: 25px
	.upsell
		&__head
			display: block
			margin: 0 0 15px
		&__text
			padding: 0
			margin: 0 0 15px
			text-align: center				
		&__nav
			justify-content: space-between
	.promo-block
		&__head
			display: block
			margin: 0 0 15px
		&__text
			padding: 0
			margin: 0 0 15px
			text-align: center				
		&__nav
			justify-content: space-between
	.social-block
		text-align: center
		&__link
			margin: 0 2.5px 5px
	.contacts-block
		padding: 40px 0
		&__wrapper
			display: block
		&__head
			padding: 0
			text-align: center
		&__logo
			width: 100px
			margin: 0 auto 10px
		&__box
			display: block
			margin: 0
		&__column
			margin: 0 0 15px
		&__link
			font-size: inherit
		&__menu
			border-top: 1px solid #ddd
			padding-top: 20px
			font-size: inherit
			columns: 2	

@media(max-width: 479px)
	.modal
		padding: 45px 20px
	.promo-card
		min-height: 260px
		padding: 22px
		&__text
			width: auto
			padding: 8px
			background-color: rgba(255,255,255,.5)
	.infographics
		&__item
			padding: 0
			flex-basis: 135px
	.sort
		&__text
			display: none
		&__select
			display: block
			width: 100%
	.footer
		&__payment
			span
				display: block
				margin: 0 0 .3em
			img
				margin: 0 14px 0 0
	
